.home {
  // display: flex;
  // align-items: center;
  justify-content: center;
  // margin: 40px auto;
  font-size: 70px;
  background-color: black;
  padding: 600px;
  background-image: url("https://static01.nyt.com/images/2020/09/14/business/14movie-tenet/merlin_176507883_99c30ad7-2cc1-4071-8cc2-52866fb7b05c-superJumbo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
table {
  border-collapse: collapse;
  width: 100%;
  background-color: black;
  color: #60ccee;
}

th,
td {
  padding: 80px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #60ccee;
  color: black;
}
.home_today {
  background-color: wheat;
  width: 100%;
  height: 400px;
}
